@model MVCPROJECT.Models.CompanyInsert
@{
    ViewBag.Title = "Company_HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company_HomePage</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Add Job", "JobInsert_Pageload","JobInsert")</li>
    </ul>
</div>
